body {
    font-family: 'Poppins', sans-serif;
}

#item_1imge img {
    height: 500px;

}

.img_dark {
    filter: brightness(60%);
}


.fa-solid {
    color: rgb(11, 10, 10);
}

.font_icon i {
    color: rgb(202, 127, 53);
}

.footer {
    height: 400px;
}

@media only screen and (max-width: 992px) {
    .company_section {
        display: none;
    }
}